# Unreal Engine generated folders
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
.vs/
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# Visual Studio files
.vscode/

# Unreal specific
*.tps
*.userwelcomescreen